In [2]:
import pandas as pd

In [5]:
model14_results = pd.read_csv("./model14/model14.csv")
model14_results

,Unnamed: 0,anonymized_subject_id,anonymized_session_id,scan,loes-score,Gd-enhanced,training,validation,predicted_loes_score
0,0,subject-00,session-00,mprage.nii.gz,1.0,0,0,1,3.625599
1,1,subject-00,session-01,mprage.nii.gz,0.0,0,0,1,3.972772
2,2,subject-00,session-02,mprage.nii.gz,1.0,0,0,1,3.349933
3,3,subject-00,session-03,mprage.nii.gz,1.0,0,0,1,3.166652
4,5,subject-01,session-00,mprage.nii.gz,0.0,0,1,0,NaN
...,...,...,...,...,...,...,...,...,...
248,412,subject-64,session-01,mprage.nii.gz,0.0,0,0,1,6.883251
249,414,subject-65,session-00,mprage.nii.gz,4.0,0,0,1,4.742925
250,416,subject-66,session-00,mprage.nii.gz,0.0,0,0,1,3.499005
251,418,subject-67,session-00,mprage.nii.gz,0.0,0,1,0,NaN
252,420,subject-67,session-01,mprage.nii.gz,0.0,0,1,0,NaN

In [ ]:
# if validation == 1, sort new dataframe by abs(obsv-pred) from highest to lowest